<%- include("templates/encabezado") %>
<div class="content">
    <h2>Bases de Datos</h2>
    <table id="databases-table">
        <thead>
            <tr>
                <th>Nombre de la Base de Datos</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% basesCorrectas.forEach(baseDatos => { %>
                <tr>
                    <td><%= baseDatos.nombre %></td>
                    <td><%= baseDatos.descripcion %></td>
                    <td>
                        <form action="/modificarBaseDeDatos/<%= baseDatos.nombre %>" method="GET" style="display:inline;">
                            <button type="submit" class="btn btn-warning">Modificar</button>
                        </form>
                        <form action="/eliminarBaseDeDatos/<%= baseDatos.nombre %>" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta base de datos?');">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("templates/pie") %>
