<%- include("templates/encabezado") %>
<div class="content">
    <h2>Tablas en la Base de Datos <%= nombreBD %></h2>
    <table id="tables-table">
        <thead>
            <tr>
                <th>Nombre de la Tabla</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (tablasCorrectas && tablasCorrectas.length > 0) { %>
                <% tablasCorrectas.forEach(tabla => { %>
                    <tr>
                        <td><%= tabla.nombre %></td>
                        <td>
                            <form action="/mostrarCampos/<%= nombreBD %>/<%= tabla.nombre %>" method="GET" style="display:inline;">
                                <button type="submit">Mostrar Campos</button>
                            </form>
                            <form action="/eliminarTabla/<%= nombreBD %>/<%= tabla.nombre %>" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta tabla?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="2">No se encontraron tablas.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <form action="/agregarTabla/<%= nombreBD %>" method="GET" style="display:inline;">
        <button type="submit" class="btn btn-success">Agregar Tabla</button>
    </form>
</div>
<%- include("templates/pie") %>